:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  --app-bg-color: rgba(15, 15, 15, 0.60);
  --light-overlay-color: rgba(255, 255, 255, 0.1);
  --lighter-overlay-color: rgba(255, 255, 255, 0.04);
  font-synthesis: none;
  overflow: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.seperator {
  position: relative;
  width: 750px;
  border: 1px solid var(--highlight-overlay);
  margin-bottom: 40px;
}

.container {
  padding: 10px 0px 10px 0px;
  background-color: var(--app-bg-color);
  border-radius: 10px;
  color: white;
}

.logo {
  width: 154px !important;
  height: auto !important;
  margin-left: 24px;
  margin-top: 16px;
}

.searchWindow {
  padding: 10px 0px 10px 0px;
  background-color: var(--app-bg-color);
  border-radius: 10px;
  color: white;
}

.dashboardWindow {
  color: white;
  background-color: var(--app-bg-color);
  height: 722px;
  border-radius: 10px;
  display: flex;
}

.leftSideBar {
  width: 250px;
}

.sidebarOptionsHeader {
  margin-top: 24px;
  margin-left: 24px;
  padding-right: 23px;
  display: flex;
  justify-content: space-between;
}

.sidebarOptions {
  margin-top: 12px;
  margin-left: 12px;
  padding-right: 12px;
}

.titlebar {
  height: 30px;
  background: transparent;
  user-select: none;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-top: 13px;
}

.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 4px;
}

#titlebar-close {
  background-color: rgba(255, 95, 87, 1);
}

#titlebar-minimize {
  background-color: rgba(255, 188, 87, 1);
}

.flatButton {
  background: 'transparent';
  border: 'none !important';
}

.flatButton:active {
  background: rgba(255, 255, 255, 0.1) !important;
}

.topStatusBar{
  display: flex;
  padding-top: 24px;
  justify-content: space-between;
  width: 100%;
}

.topStatusBar > .promptSearch {
  display: flex;
  flex-direction: row;
  width: 368px;
  gap: 12px;
}

.rightWindow {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 20px;
  padding-right: 32px;
}